* {

  box-sizing: border-box;
  margin: 0;

}

#container {
  display: flex;
  flex-direction: column;

  width: 400px;
}




button {
  width: 50px;
}

.row {
  display: flex;
}


  


.num-button {
  display: flex;
  height: 100px;
  width: 100px;
  padding: 5px;
  background-color: greenyellow;
  color: black;
  font-size: 36px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.op-button {
  display: flex;
  height: 100px;
  width: 100px;
  padding: 5px;
  background-color: green;
  color: white;
  font-size: 36px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}


#equal-button {
  display: flex;
  height: 100px;
  width: 100px;
  padding: 5px;
  background-color: green;
  color: white;
  font-size: 36px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#display {
  height: 100px;
  width: 75%;
  padding: 5px;
  background-color: greenyellow;
  color: black;
  font-size: 36px;
  font-weight: bold;
  border: 3px solid black;
}

#clear-button {
  display: flex;
  height: 100px;
  width: 100px;
  padding: 5px;
  background-color: green;
  color: black;
  font-size: 36px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}