* {

  box-sizing: border-box;
  margin: 0;

}

#container {
  display: flex;
  flex-direction: column;

  width: 200px;
}




button {
  width: 100px;
}

.row {
  display: flex;
}


  


.num-button {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 5px;
  background-color: greenyellow;
  color: white;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.op-button {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 5px;
  background-color: green;
  color: white;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#equal-button {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 5px;
  background-color: green;
  color: white;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

#display {
  height: 50px;
  width: 75%;
  padding: 5px;
  background-color: greenyellow;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: 3px solid black;
}

#clear-button {
  display: flex;
  height: 50px;
  width: 50px;
  padding: 5px;
  background-color: green;
  color: white;
  font-size: 18px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}